*{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    text-align: center;
    margin-bottom: 0px;
  }
  .heading h1 {
    font-size: 22px;
    font-weight: 600;
    word-spacing: 10px;
  }
  .heading p {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
  .logo img {
    width: 150px;
    height: 70px;
  }
  
  .seprator {
    height: 2px;
    background-color: black;
  }
  
  .form-container {
    margin: 0px 20px;
  }
  
  .form-heading h3 {
    text-align: center;
    text-decoration: underline;
    margin:0;
  }
  .line1 {
    display: flex;
  }
  
  .line1 > div {
    margin: 25px;
  }
  
  p {
    margin: 0; /* Remove default paragraph margin */
  }

  .name {
    width: 50%; /* Take half of the screen width */
  }
  
 .sex{
    width: 50%;
 }

 .marital{
    width: 50%;
 }

 .referred{
    width: 50%;
 }

 .hivstatus{
    width: 100%;
 }
 .chief{
    width: 100%;
 }
 .signature{
    width: 50%;
 }
 
 .parent_signature{
    width: 50%;
 }

 .nextsignature p{
    margin-left: 67vh;
    margin-top: -5vb;
 }

 .dets{
    width: 100%;
 }