.patient{
    padding-top:40px;
    width: 50%;
}
.modal-dialog .search-patients-modal{
 margin: 200px;
}
.modal-body{
    text-align: left;
}
.gender{
    display: flex;
}
.gender>div{
   margin: 5px;
}
/* modal button */
.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.select {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

.form-container{
    margin:5px 20px;
   
}

.header{
    display: flex;
  

   margin-bottom: 0px;
}
.heading  h1{
    font-size: 22px;
    font-weight: 600;
    word-spacing: 10px;
}
.heading p {
 font-weight: 600;
 font-size: 16px;
 text-align: center;
}
.logo img {
    width: 150px;
    height: 70px;
}

.seprator{
    height: 2px;
    background-color: black;
}

 hr{
    margin: 0;
 }
.consent-heading{
    font-size: 16px;
    text-decoration:underline;
    
    padding-bottom: 3px;
}
.consent-main-para{
  
    justify-content: space-between;

}

.ptients-sign{
    margin-top: 40px;
}
.ptients-sign p{
    margin:0;
}
.attendant-detail{

    display: flex;
  align-items: center;
  margin-top: 5px;
  height: 30px;
 
}
.attendant-detail>div{
    margin: 15px;
}
.details-of-attendant{
    display: flex;
}
.details-of-attendant ul{

    list-style: none;
    padding-inline-start: 0px;


}
.details-of-attendant ul li {
    margin-bottom:10px;
    padding-inline-start: 0px;
    display: flex;
}
.sign{
    margin-top: 10px;
   
}

.serach{ display: flex;}

.button{
    padding: 20px;
 
    text-align: right;
    background-color: rgb(142, 184, 231);
}
@media print {
    .button{
      display: none;
    }
    .attendant{
        display: none;
      }
      .patient-btn{
        display: none;
      }
      .doctor ,.attendant-detail{
        display: none;
      }
  }

  .patient-btn{
    padding: 5px;
  }
  .attendant{
    text-align: right;
    padding: 20px;
  }
  #sign{
    text-transform: uppercase;
  }