.back{
    background-color: #b7cedd;
}
.navbar-brand{
     font-weight: 500;
}
.nav-item a{
 font-weight: 500;
}
.home-heading{
 
    font-size: 30px;
    justify-content: center;
}
.home-para{
    font-size: 20px;
    justify-content: flex-start;

}
.main-img img{
    padding: 30px;
    width: 693px;
height: 598px;
flex-shrink: 0;
}
.landing-page{
    background-color: white;
}
#about{
    margin-bottom: 50px;
}
.about-heading{
    text-align: center;
}
.about-heading p{
    justify-content: center;
}

.card-sec{
    margin-top: 50px;
}
.card img{
    width: 30%;
    
}
.card-img-top{
    margin:auto;
}
.card{
    outline: none;
    margin: 5px;
}

.about-img img{
  width: 100%;
}
.mission-heading
{
    text-align: center;
    justify-content: center;
    margin-bottom: 50px;
}
 .mission-img img{
    height: 500px;
    width: 500px;

 }
 



 .testimonials-clean {
    color:#313437;
 
  }
  
  .testimonials-clean p {
    color:#7d8285;
  }
  
  .testimonials-clean h2 {
    font-weight:bold;
    margin-bottom:40px;
    padding-top:40px;
    color:inherit;
  }
  
  @media (max-width:767px) {
    .testimonials-clean h2 {
      margin-bottom:25px;
      padding-top:25px;
      font-size:24px;
    }
  }
  
  .testimonials-clean .intro {
    font-size:16px;
    max-width:500px;
    margin:0 auto;
  }
  
  .testimonials-clean .intro p {
    margin-bottom:0;
  }
  
  .testimonials-clean .people {
    padding:50px 0 20px;
  }
  
  .testimonials-clean .item {
    margin-bottom:32px;
  }
  
  @media (min-width:768px) {
    .testimonials-clean .item {
      height:220px;
    }
  }
  
  .testimonials-clean .item .box {
    padding:30px;
    background-color:#fff;
    position:relative;
  }
  
  .testimonials-clean .item .box:after {
    content:'';
    position:absolute;
    left:30px;
    bottom:-24px;
    width:0;
    height:0;
    border:15px solid transparent;
    border-width:12px 15px;
    border-top-color:#fff;
  }
  
  .testimonials-clean .item .author {
    margin-top:28px;
    padding-left:25px;
  }
  
  .testimonials-clean .item .name {
    font-weight:bold;
    margin-bottom:2px;
    color:inherit;
  }
  
  .testimonials-clean .item .title {
    font-size:13px;
    color:#9da9ae;
  }
  
  .testimonials-clean .item .description {
    font-size:15px;
    margin-bottom:0;
  }
  
  .testimonials-clean .item img {
    max-width:40px;
    float:left;
    margin-right:12px;
    margin-top:-5px;
  }
  
  


  .footer
  {
    background-color: #b7cedd;
    padding:30px; 
  }
  .quick-link ul {list-style: none;
    padding: 0;
   
  }

  .quick-link ul li {
  
  margin-bottom:20px;
}


  .socials-links {
    height: 30%;
    width: 30px;

    
  }
  img.socials-links{
    margin-bottom: 10px;
  }
  
  .socials-link-add{
    text-decoration: none;
   
  }
  .text-decoration-none{
    list-style: none;
  }
  .google{
    width: 100%;
    height: 100%;
  }