*{
    padding: 0;
    margin: 0;
}
.header {
    display: flex;
    text-align: center;
    margin-bottom: 0px;
  }
  .heading h1 {
    font-size: 22px;
    font-weight: 600;
    word-spacing: 10px;
  }
  .heading p {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
  .logo img {
    width: 150px;
    height: 70px;
  }
  
  .seprator {
    height: 2px;
    background-color: black;
  }
  
  .form-container {
    margin: 0px 20px;
  }
  
  .form-heading h3 {
    text-align: center;
    text-decoration: underline;
    margin:0;
  }
  .line1 {
    display: flex;
  }
  
  .line1 > div {
    margin: 4px;
  }
  
  p {
    margin: 0; /* Remove default paragraph margin */
  }

  .name {
    width: 50%; /* Take half of the screen width */
  }
  
 .sex{
    width: 50%;
 }

 .marital{
    width: 100%;
 }

 
 .seprator1 {
    height: 1px;
    background-color: black;
  }

 .status{
    width: 100%;
 }

 .status{
    width: 50%;
 }
 .chief{
    width: 100%;
 }
 .signature{
    width: 50%;
 }
 
 .parent_signature{
    width: 50%;
 }

 .next1{
    width: 50%;
 }
 .dets{
    width: 50%;
 }

 .nextint input{
    margin-left: 7px;
 }

 .ambulatory{
    width: 100%;
 }